# Práctica laboratorio SSBBDD 2022 - 2023

Para la realización de esta práctica se ha usado el entorno de trabajo basado en los recursos oficiales de Cloudera, primera opción del apartado 6.1 del enunciado.

Los archivos .csv han sido tratados, sustituyendo las comas seguidas de espacios por otros valores no conflictivos.

1- Crear las tablas necesarias para almacenar datos.  
    Las tablas son externas y se llenan automáticamente desde el directorio especificado tras la palabra "location", por lo que este bloque engloba la pregunta 2- Importar los datos en las tablas creadas.

In [1]:
#dónde estoy. Los archivos .csv deben estar aquí.
! pwd

/home/cloudera/Desktop

In [137]:
#crear directorios y subir los archivos .csv
! hadoop fs -mkdir -p /pec/datos
! hadoop fs -mkdir -p /pec/datos/esperanza
! hadoop fs -mkdir -p /pec/datos/inversion
! hadoop fs -put API_GB.XPD.RSDV.GD.ZS_DS2_en_csv_v2_4353310.csv /pec/datos/inversion
! hadoop fs -put API_SP.DYN.LE00.IN_DS2_en_csv_v2_4330149.csv /pec/datos/esperanza

In [138]:
%%writefile createdatabase.hql
#este script crea un script python con las órdenes siguientes
create database if not exists paisesdb 
Comment 'Base de datos de paises'
Location '/pec/paisesdb'
With dbproperties ('Creada por' = '', 'Creada el' = '06-01-2023');

Overwriting createdatabase.hql

In [139]:
#correr dicho script
! beeline -u "jdbc:hive2://localhost:10000/default" -f createdatabase.hql

scan complete in 2ms
Connecting to jdbc:hive2://localhost:10000/default
Connected to: Apache Hive (version 1.1.0-cdh5.12.0)
Driver: Hive JDBC (version 1.1.0-cdh5.12.0)
Transaction isolation: TRANSACTION_REPEATABLE_READ
las órdenes siguientesost:10000/default> #este script crea un script python con
0: jdbc:hive2://localhost:10000/default> create database if not exists paisesdb
. . . . . . . . . . . . . . . . . . . .> Comment 'Base de datos de paises'
. . . . . . . . . . . . . . . . . . . .> Location '/pec/paisesdb'
s', 'Creada el' = '06-01-2023');. . . .> With dbproperties ('Creada por' = 'luca
INFO  : Compiling command(queryId=hive_20230106161212_aaed7754-207e-4604-bce2-55e45c95f9cd): create database if not exists paisesdb
Comment 'Base de datos de paises'
Location '/pec/paisesdb'
With dbproperties ('Creada por' = 'lucas', 'Creada el' = '06-01-2023')
INFO  : Semantic Analysis Completed
INFO  : Returning Hive schema: Schema(fieldSchemas:null, properties:null)
INFO  : Completed compiling command(queryId=hive_20230106161212_aaed7754-207e-4604-bce2-55e45c95f9cd); Time taken: 0.023 seconds
INFO  : Concurrency mode is disabled, not creating a lock manager
INFO  : Executing command(queryId=hive_20230106161212_aaed7754-207e-4604-bce2-55e45c95f9cd): create database if not exists paisesdb
Comment 'Base de datos de paises'
Location '/pec/paisesdb'
With dbproperties ('Creada por' = 'lucas', 'Creada el' = '06-01-2023')
INFO  : Starting task [Stage-0:DDL] in serial mode
INFO  : Completed executing command(queryId=hive_20230106161212_aaed7754-207e-4604-bce2-55e45c95f9cd); Time taken: 0.013 seconds
INFO  : OK
No rows affected (0.084 seconds)
0: jdbc:hive2://localhost:10000/default>
Closing: 0: jdbc:hive2://localhost:10000/default

In [140]:
%%writefile createinversiontable.hql
#las tablas son externas, lo que implica que se pueden modificar añadiendo
#columnas con los años venideros.
use paisesdb;

CREATE EXTERNAL TABLE IF NOT EXISTS inversion
(
Country_Name string,
Country_Code string,
Indicator_Name ARRAY<string>,
Indicator_code string,
year1960	double,
year1961	double,
year1962	double,
year1963	double,
year1964	double,
year1965	double,
year1966	double,
year1967	double,
year1968	double,
year1969	double,
year1970	double,
year1971	double,
year1972	double,
year1973	double,
year1974	double,
year1975	double,
year1976	double,
year1977	double,
year1978	double,
year1979	double,
year1980	double,
year1981	double,
year1982	double,
year1983	double,
year1984	double,
year1985	double,
year1986	double,
year1987	double,
year1988	double,
year1989	double,
year1990	double,
year1991	double,
year1992	double,
year1993	double,
year1994	double,
year1995	double,
year1996	double,
year1997	double,
year1998	double,
year1999	double,
year2000	double,
year2001	double,
year2002	double,
year2003	double,
year2004	double,
year2005	double,
year2006	double,
year2007	double,
year2008	double,
year2009	double,
year2010	double,
year2011	double,
year2012	double,
year2013	double,
year2014	double,
year2015	double,
year2016	double,
year2017	double,
year2018	double,
year2019	double,
year2020	double,
year2021	double
)
COMMENT 'Tabla de inversion'
ROW FORMAT DELIMITED
FIELDS TERMINATED BY ','LOCATION '/pec/datos/inversion'

Overwriting createinversiontable.hql

In [141]:
%%writefile createexpectancytable.hql
use paisesdb;

CREATE EXTERNAL TABLE IF NOT EXISTS expectancy
(
Country_Name string,
Country_Code string,
Indicator_Name ARRAY<string>,
Indicator_code string,
year1960	double,
year1961	double,
year1962	double,
year1963	double,
year1964	double,
year1965	double,
year1966	double,
year1967	double,
year1968	double,
year1969	double,
year1970	double,
year1971	double,
year1972	double,
year1973	double,
year1974	double,
year1975	double,
year1976	double,
year1977	double,
year1978	double,
year1979	double,
year1980	double,
year1981	double,
year1982	double,
year1983	double,
year1984	double,
year1985	double,
year1986	double,
year1987	double,
year1988	double,
year1989	double,
year1990	double,
year1991	double,
year1992	double,
year1993	double,
year1994	double,
year1995	double,
year1996	double,
year1997	double,
year1998	double,
year1999	double,
year2000	double,
year2001	double,
year2002	double,
year2003	double,
year2004	double,
year2005	double,
year2006	double,
year2007	double,
year2008	double,
year2009	double,
year2010	double,
year2011	double,
year2012	double,
year2013	double,
year2014	double,
year2015	double,
year2016	double,
year2017	double,
year2018	double,
year2019	double,
year2020	double,
year2021	double
)
COMMENT 'Tabla de esperanza de vida'
ROW FORMAT DELIMITED
FIELDS TERMINATED BY ',' LOCATION '/pec/datos/esperanza'

Overwriting createexpectancytable.hql

In [142]:
#ejecutar primer script
! beeline -u "jdbc:hive2://localhost:10000/default" -f createinversiontable.hql

scan complete in 2ms
Connecting to jdbc:hive2://localhost:10000/default
Connected to: Apache Hive (version 1.1.0-cdh5.12.0)
Driver: Hive JDBC (version 1.1.0-cdh5.12.0)
Transaction isolation: TRANSACTION_REPEATABLE_READ
a que se pueden modificar añadiendoault> #las tablas son externas, lo que implic
0: jdbc:hive2://localhost:10000/default> #columnas con los años venideros.
0: jdbc:hive2://localhost:10000/default> use paisesdb;
INFO  : Compiling command(queryId=hive_20230106161313_0b8015fb-11ec-450f-95ab-9175a9bc4a53): use paisesdb
INFO  : Semantic Analysis Completed
INFO  : Returning Hive schema: Schema(fieldSchemas:null, properties:null)
INFO  : Completed compiling command(queryId=hive_20230106161313_0b8015fb-11ec-450f-95ab-9175a9bc4a53); Time taken: 0.037 seconds
INFO  : Concurrency mode is disabled, not creating a lock manager
INFO  : Executing command(queryId=hive_20230106161313_0b8015fb-11ec-450f-95ab-9175a9bc4a53): use paisesdb
INFO  : Starting task [Stage-0:DDL] in serial mode
INFO  : Completed executing command(queryId=hive_20230106161313_0b8015fb-11ec-450f-95ab-9175a9bc4a53); Time taken: 0.014 seconds
INFO  : OK
No rows affected (0.1 seconds)
0: jdbc:hive2://localhost:10000/default>
ersionc:hive2://localhost:10000/default> CREATE EXTERNAL TABLE IF NOT EXISTS inv
. . . . . . . . . . . . . . . . . . . .> (
. . . . . . . . . . . . . . . . . . . .> Country_Name string,
. . . . . . . . . . . . . . . . . . . .> Country_Code string,
. . . . . . . . . . . . . . . . . . . .> Indicator_Name ARRAY<string>,
. . . . . . . . . . . . . . . . . . . .> Indicator_code string,
. . . . . . . . . . . . . . . . . . . .> year1960    double,
. . . . . . . . . . . . . . . . . . . .> year1961    double,
. . . . . . . . . . . . . . . . . . . .> year1962    double,
. . . . . . . . . . . . . . . . . . . .> year1963    double,
. . . . . . . . . . . . . . . . . . . .> year1964    double,
. . . . . . . . . . . . . . . . . . . .> year1965    double,
. . . . . . . . . . . . . . . . . . . .> year1966    double,
. . . . . . . . . . . . . . . . . . . .> year1967    double,
. . . . . . . . . . . . . . . . . . . .> year1968    double,
. . . . . . . . . . . . . . . . . . . .> year1969    double,
. . . . . . . . . . . . . . . . . . . .> year1970    double,
. . . . . . . . . . . . . . . . . . . .> year1971    double,
. . . . . . . . . . . . . . . . . . . .> year1972    double,
. . . . . . . . . . . . . . . . . . . .> year1973    double,
. . . . . . . . . . . . . . . . . . . .> year1974    double,
. . . . . . . . . . . . . . . . . . . .> year1975    double,
. . . . . . . . . . . . . . . . . . . .> year1976    double,
. . . . . . . . . . . . . . . . . . . .> year1977    double,
. . . . . . . . . . . . . . . . . . . .> year1978    double,
. . . . . . . . . . . . . . . . . . . .> year1979    double,
. . . . . . . . . . . . . . . . . . . .> year1980    double,
. . . . . . . . . . . . . . . . . . . .> year1981    double,
. . . . . . . . . . . . . . . . . . . .> year1982    double,
. . . . . . . . . . . . . . . . . . . .> year1983    double,
. . . . . . . . . . . . . . . . . . . .> year1984    double,
. . . . . . . . . . . . . . . . . . . .> year1985    double,
. . . . . . . . . . . . . . . . . . . .> year1986    double,
. . . . . . . . . . . . . . . . . . . .> year1987    double,
. . . . . . . . . . . . . . . . . . . .> year1988    double,
. . . . . . . . . . . . . . . . . . . .> year1989    double,
. . . . . . . . . . . . . . . . . . . .> year1990    double,
. . . . . . . . . . . . . . . . . . . .> year1991    double,
. . . . . . . . . . . . . . . . . . . .> year1992    double,
. . . . . . . . . . . . . . . . . . . .> year1993    double,
. . . . . . . . . . . . . . . . . . . .> year1994    double,
. . . . . . . . . . . . . . . . . . . .> year1995    double,
. . . . . . . . . . . . . . . . . . . .> year1996    double,
. . . . . . . . . . . . . . . . . . . .> year1997    double,
. . . . . . . . . . . . . . . . . . . .> year1998    double,
. . . . . . . . . . . . . . . . . . . .> year1999    double,
. . . . . . . . . . . . . . . . . . . .> year2000    double,
. . . . . . . . . . . . . . . . . . . .> year2001    double,
. . . . . . . . . . . . . . . . . . . .> year2002    double,
. . . . . . . . . . . . . . . . . . . .> year2003    double,
. . . . . . . . . . . . . . . . . . . .> year2004    double,
. . . . . . . . . . . . . . . . . . . .> year2005    double,
. . . . . . . . . . . . . . . . . . . .> year2006    double,
. . . . . . . . . . . . . . . . . . . .> year2007    double,
. . . . . . . . . . . . . . . . . . . .> year2008    double,
. . . . . . . . . . . . . . . . . . . .> year2009    double,
. . . . . . . . . . . . . . . . . . . .> year2010    double,
. . . . . . . . . . . . . . . . . . . .> year2011    double,
. . . . . . . . . . . . . . . . . . . .> year2012    double,
. . . . . . . . . . . . . . . . . . . .> year2013    double,
. . . . . . . . . . . . . . . . . . . .> year2014    double,
. . . . . . . . . . . . . . . . . . . .> year2015    double,
. . . . . . . . . . . . . . . . . . . .> year2016    double,
. . . . . . . . . . . . . . . . . . . .> year2017    double,
. . . . . . . . . . . . . . . . . . . .> year2018    double,
. . . . . . . . . . . . . . . . . . . .> year2019    double,
. . . . . . . . . . . . . . . . . . . .> year2020    double,
. . . . . . . . . . . . . . . . . . . .> year2021    double
. . . . . . . . . . . . . . . . . . . .> )
. . . . . . . . . . . . . . . . . . . .> COMMENT 'Tabla de inversion'
. . . . . . . . . . . . . . . . . . . .> ROW FORMAT DELIMITED
datos/inversion'. . . . . . . . . . . .> FIELDS TERMINATED BY ','LOCATION '/pec/
. . . . . . . . . . . . . . . . . . . .> INFO  : Compiling command(queryId=hive_20230106161313_3dec96bc-14ef-41e7-9ed8-fa6094c52a7b): CREATE EXTERNAL TABLE IF NOT EXISTS inversion
(
Country_Name string,
Country_Code string,
Indicator_Name ARRAY<string>,
Indicator_code string,
year1960	double,
year1961	double,
year1962	double,
year1963	double,
year1964	double,
year1965	double,
year1966	double,
year1967	double,
year1968	double,
year1969	double,
year1970	double,
year1971	double,
year1972	double,
year1973	double,
year1974	double,
year1975	double,
year1976	double,
year1977	double,
year1978	double,
year1979	double,
year1980	double,
year1981	double,
year1982	double,
year1983	double,
year1984	double,
year1985	double,
year1986	double,
year1987	double,
year1988	double,
year1989	double,
year1990	double,
year1991	double,
year1992	double,
year1993	double,
year1994	double,
year1995	double,
year1996	double,
year1997	double,
year1998	double,
year1999	double,
year2000	double,
year2001	double,
year2002	double,
year2003	double,
year2004	double,
year2005	double,
year2006	double,
year2007	double,
year2008	double,
year2009	double,
year2010	double,
year2011	double,
year2012	double,
year2013	double,
year2014	double,
year2015	double,
year2016	double,
year2017	double,
year2018	double,
year2019	double,
year2020	double,
year2021	double
)
COMMENT 'Tabla de inversion'
ROW FORMAT DELIMITED
FIELDS TERMINATED BY ','LOCATION '/pec/datos/inversion'
INFO  : Semantic Analysis Completed
INFO  : Returning Hive schema: Schema(fieldSchemas:null, properties:null)
INFO  : Completed compiling command(queryId=hive_20230106161313_3dec96bc-14ef-41e7-9ed8-fa6094c52a7b); Time taken: 0.019 seconds
INFO  : Concurrency mode is disabled, not creating a lock manager
INFO  : Executing command(queryId=hive_20230106161313_3dec96bc-14ef-41e7-9ed8-fa6094c52a7b): CREATE EXTERNAL TABLE IF NOT EXISTS inversion
(
Country_Name string,
Country_Code string,
Indicator_Name ARRAY<string>,
Indicator_code string,
year1960	double,
year1961	double,
year1962	double,
year1963	double,
year1964	double,
year1965	double,
year1966	double,
year1967	double,
year1968	double,
year1969	double,
year1970	double,
year1971	double,
year1972	double,
year1973	double,
year1974	double,
year1975	double,
year1976	double,
year1977	double,
year1978	double,
year1979	double,
year1980	double,
year1981	double,
year1982	double,
year1983	double,
year1984	double,
year1985	double,
year1986	double,
year1987	double,
year1988	double,
year1989	double,
year1990	double,
year1991	double,
year1992	double,
year1993	double,
year1994	double,
year1995	double,
year1996	double,
year1997	double,
year1998	double,
year1999	double,
year2000	double,
year2001	double,
year2002	double,
year2003	double,
year2004	double,
year2005	double,
year2006	double,
year2007	double,
year2008	double,
year2009	double,
year2010	double,
year2011	double,
year2012	double,
year2013	double,
year2014	double,
year2015	double,
year2016	double,
year2017	double,
year2018	double,
year2019	double,
year2020	double,
year2021	double
)
COMMENT 'Tabla de inversion'
ROW FORMAT DELIMITED
FIELDS TERMINATED BY ','LOCATION '/pec/datos/inversion'
INFO  : Starting task [Stage-0:DDL] in serial mode
INFO  : Completed executing command(queryId=hive_20230106161313_3dec96bc-14ef-41e7-9ed8-fa6094c52a7b); Time taken: 0.099 seconds
INFO  : OK
No rows affected (0.149 seconds)

0: jdbc:hive2://localhost:10000/default>
Closing: 0: jdbc:hive2://localhost:10000/default

In [143]:
#ejecutar segundo script
! beeline -u "jdbc:hive2://localhost:10000/default" -f createexpectancytable.hql

scan complete in 1ms
Connecting to jdbc:hive2://localhost:10000/default
Connected to: Apache Hive (version 1.1.0-cdh5.12.0)
Driver: Hive JDBC (version 1.1.0-cdh5.12.0)
Transaction isolation: TRANSACTION_REPEATABLE_READ
0: jdbc:hive2://localhost:10000/default> use paisesdb;
INFO  : Compiling command(queryId=hive_20230106161313_921d687b-3dcf-4e4f-b70c-b8e2118e4813): use paisesdb
INFO  : Semantic Analysis Completed
INFO  : Returning Hive schema: Schema(fieldSchemas:null, properties:null)
INFO  : Completed compiling command(queryId=hive_20230106161313_921d687b-3dcf-4e4f-b70c-b8e2118e4813); Time taken: 0.04 seconds
INFO  : Concurrency mode is disabled, not creating a lock manager
INFO  : Executing command(queryId=hive_20230106161313_921d687b-3dcf-4e4f-b70c-b8e2118e4813): use paisesdb
INFO  : Starting task [Stage-0:DDL] in serial mode
INFO  : Completed executing command(queryId=hive_20230106161313_921d687b-3dcf-4e4f-b70c-b8e2118e4813); Time taken: 0.007 seconds
INFO  : OK
No rows affected (0.094 seconds)
0: jdbc:hive2://localhost:10000/default>
ectancy:hive2://localhost:10000/default> CREATE EXTERNAL TABLE IF NOT EXISTS exp
. . . . . . . . . . . . . . . . . . . .> (
. . . . . . . . . . . . . . . . . . . .> Country_Name string,
. . . . . . . . . . . . . . . . . . . .> Country_Code string,
. . . . . . . . . . . . . . . . . . . .> Indicator_Name ARRAY<string>,
. . . . . . . . . . . . . . . . . . . .> Indicator_code string,
. . . . . . . . . . . . . . . . . . . .> year1960    double,
. . . . . . . . . . . . . . . . . . . .> year1961    double,
. . . . . . . . . . . . . . . . . . . .> year1962    double,
. . . . . . . . . . . . . . . . . . . .> year1963    double,
. . . . . . . . . . . . . . . . . . . .> year1964    double,
. . . . . . . . . . . . . . . . . . . .> year1965    double,
. . . . . . . . . . . . . . . . . . . .> year1966    double,
. . . . . . . . . . . . . . . . . . . .> year1967    double,
. . . . . . . . . . . . . . . . . . . .> year1968    double,
. . . . . . . . . . . . . . . . . . . .> year1969    double,
. . . . . . . . . . . . . . . . . . . .> year1970    double,
. . . . . . . . . . . . . . . . . . . .> year1971    double,
. . . . . . . . . . . . . . . . . . . .> year1972    double,
. . . . . . . . . . . . . . . . . . . .> year1973    double,
. . . . . . . . . . . . . . . . . . . .> year1974    double,
. . . . . . . . . . . . . . . . . . . .> year1975    double,
. . . . . . . . . . . . . . . . . . . .> year1976    double,
. . . . . . . . . . . . . . . . . . . .> year1977    double,
. . . . . . . . . . . . . . . . . . . .> year1978    double,
. . . . . . . . . . . . . . . . . . . .> year1979    double,
. . . . . . . . . . . . . . . . . . . .> year1980    double,
. . . . . . . . . . . . . . . . . . . .> year1981    double,
. . . . . . . . . . . . . . . . . . . .> year1982    double,
. . . . . . . . . . . . . . . . . . . .> year1983    double,
. . . . . . . . . . . . . . . . . . . .> year1984    double,
. . . . . . . . . . . . . . . . . . . .> year1985    double,
. . . . . . . . . . . . . . . . . . . .> year1986    double,
. . . . . . . . . . . . . . . . . . . .> year1987    double,
. . . . . . . . . . . . . . . . . . . .> year1988    double,
. . . . . . . . . . . . . . . . . . . .> year1989    double,
. . . . . . . . . . . . . . . . . . . .> year1990    double,
. . . . . . . . . . . . . . . . . . . .> year1991    double,
. . . . . . . . . . . . . . . . . . . .> year1992    double,
. . . . . . . . . . . . . . . . . . . .> year1993    double,
. . . . . . . . . . . . . . . . . . . .> year1994    double,
. . . . . . . . . . . . . . . . . . . .> year1995    double,
. . . . . . . . . . . . . . . . . . . .> year1996    double,
. . . . . . . . . . . . . . . . . . . .> year1997    double,
. . . . . . . . . . . . . . . . . . . .> year1998    double,
. . . . . . . . . . . . . . . . . . . .> year1999    double,
. . . . . . . . . . . . . . . . . . . .> year2000    double,
. . . . . . . . . . . . . . . . . . . .> year2001    double,
. . . . . . . . . . . . . . . . . . . .> year2002    double,
. . . . . . . . . . . . . . . . . . . .> year2003    double,
. . . . . . . . . . . . . . . . . . . .> year2004    double,
. . . . . . . . . . . . . . . . . . . .> year2005    double,
. . . . . . . . . . . . . . . . . . . .> year2006    double,
. . . . . . . . . . . . . . . . . . . .> year2007    double,
. . . . . . . . . . . . . . . . . . . .> year2008    double,
. . . . . . . . . . . . . . . . . . . .> year2009    double,
. . . . . . . . . . . . . . . . . . . .> year2010    double,
. . . . . . . . . . . . . . . . . . . .> year2011    double,
. . . . . . . . . . . . . . . . . . . .> year2012    double,
. . . . . . . . . . . . . . . . . . . .> year2013    double,
. . . . . . . . . . . . . . . . . . . .> year2014    double,
. . . . . . . . . . . . . . . . . . . .> year2015    double,
. . . . . . . . . . . . . . . . . . . .> year2016    double,
. . . . . . . . . . . . . . . . . . . .> year2017    double,
. . . . . . . . . . . . . . . . . . . .> year2018    double,
. . . . . . . . . . . . . . . . . . . .> year2019    double,
. . . . . . . . . . . . . . . . . . . .> year2020    double,
. . . . . . . . . . . . . . . . . . . .> year2021    double
. . . . . . . . . . . . . . . . . . . .> )
. . . . . . . . . . . . . . . . . . . .> COMMENT 'Tabla de esperanza de vida'
. . . . . . . . . . . . . . . . . . . .> ROW FORMAT DELIMITED
/datos/esperanza' . . . . . . . . . . .> FIELDS TERMINATED BY ',' LOCATION '/pec
. . . . . . . . . . . . . . . . . . . .> INFO  : Compiling command(queryId=hive_20230106161313_4706faf7-2584-42fe-b732-d45c876aead0): CREATE EXTERNAL TABLE IF NOT EXISTS expectancy
(
Country_Name string,
Country_Code string,
Indicator_Name ARRAY<string>,
Indicator_code string,
year1960	double,
year1961	double,
year1962	double,
year1963	double,
year1964	double,
year1965	double,
year1966	double,
year1967	double,
year1968	double,
year1969	double,
year1970	double,
year1971	double,
year1972	double,
year1973	double,
year1974	double,
year1975	double,
year1976	double,
year1977	double,
year1978	double,
year1979	double,
year1980	double,
year1981	double,
year1982	double,
year1983	double,
year1984	double,
year1985	double,
year1986	double,
year1987	double,
year1988	double,
year1989	double,
year1990	double,
year1991	double,
year1992	double,
year1993	double,
year1994	double,
year1995	double,
year1996	double,
year1997	double,
year1998	double,
year1999	double,
year2000	double,
year2001	double,
year2002	double,
year2003	double,
year2004	double,
year2005	double,
year2006	double,
year2007	double,
year2008	double,
year2009	double,
year2010	double,
year2011	double,
year2012	double,
year2013	double,
year2014	double,
year2015	double,
year2016	double,
year2017	double,
year2018	double,
year2019	double,
year2020	double,
year2021	double
)
COMMENT 'Tabla de esperanza de vida'
ROW FORMAT DELIMITED
FIELDS TERMINATED BY ',' LOCATION '/pec/datos/esperanza'
INFO  : Semantic Analysis Completed
INFO  : Returning Hive schema: Schema(fieldSchemas:null, properties:null)
INFO  : Completed compiling command(queryId=hive_20230106161313_4706faf7-2584-42fe-b732-d45c876aead0); Time taken: 0.012 seconds
INFO  : Concurrency mode is disabled, not creating a lock manager
INFO  : Executing command(queryId=hive_20230106161313_4706faf7-2584-42fe-b732-d45c876aead0): CREATE EXTERNAL TABLE IF NOT EXISTS expectancy
(
Country_Name string,
Country_Code string,
Indicator_Name ARRAY<string>,
Indicator_code string,
year1960	double,
year1961	double,
year1962	double,
year1963	double,
year1964	double,
year1965	double,
year1966	double,
year1967	double,
year1968	double,
year1969	double,
year1970	double,
year1971	double,
year1972	double,
year1973	double,
year1974	double,
year1975	double,
year1976	double,
year1977	double,
year1978	double,
year1979	double,
year1980	double,
year1981	double,
year1982	double,
year1983	double,
year1984	double,
year1985	double,
year1986	double,
year1987	double,
year1988	double,
year1989	double,
year1990	double,
year1991	double,
year1992	double,
year1993	double,
year1994	double,
year1995	double,
year1996	double,
year1997	double,
year1998	double,
year1999	double,
year2000	double,
year2001	double,
year2002	double,
year2003	double,
year2004	double,
year2005	double,
year2006	double,
year2007	double,
year2008	double,
year2009	double,
year2010	double,
year2011	double,
year2012	double,
year2013	double,
year2014	double,
year2015	double,
year2016	double,
year2017	double,
year2018	double,
year2019	double,
year2020	double,
year2021	double
)
COMMENT 'Tabla de esperanza de vida'
ROW FORMAT DELIMITED
FIELDS TERMINATED BY ',' LOCATION '/pec/datos/esperanza'
INFO  : Starting task [Stage-0:DDL] in serial mode
INFO  : Completed executing command(queryId=hive_20230106161313_4706faf7-2584-42fe-b732-d45c876aead0); Time taken: 0.073 seconds
INFO  : OK
No rows affected (0.103 seconds)
0: jdbc:hive2://localhost:10000/default>
Closing: 0: jdbc:hive2://localhost:10000/default

In [144]:
#comando de comprobación.
! beeline -u "jdbc:hive2://localhost:10000/default" -e "use paisesdb; show tables;"

scan complete in 1ms
Connecting to jdbc:hive2://localhost:10000/default
Connected to: Apache Hive (version 1.1.0-cdh5.12.0)
Driver: Hive JDBC (version 1.1.0-cdh5.12.0)
Transaction isolation: TRANSACTION_REPEATABLE_READ
INFO  : Compiling command(queryId=hive_20230106161313_8e6ef201-5304-4129-883e-876bbcfeb0d5): use paisesdb
INFO  : Semantic Analysis Completed
INFO  : Returning Hive schema: Schema(fieldSchemas:null, properties:null)
INFO  : Completed compiling command(queryId=hive_20230106161313_8e6ef201-5304-4129-883e-876bbcfeb0d5); Time taken: 0.042 seconds
INFO  : Concurrency mode is disabled, not creating a lock manager
INFO  : Executing command(queryId=hive_20230106161313_8e6ef201-5304-4129-883e-876bbcfeb0d5): use paisesdb
INFO  : Starting task [Stage-0:DDL] in serial mode
INFO  : Completed executing command(queryId=hive_20230106161313_8e6ef201-5304-4129-883e-876bbcfeb0d5); Time taken: 0.011 seconds
INFO  : OK
No rows affected (0.09 seconds)
INFO  : Compiling command(queryId=hive_20230106161313_d1307ebc-ef99-4561-a3b7-423da24c1fb9): show tables
INFO  : Semantic Analysis Completed
INFO  : Returning Hive schema: Schema(fieldSchemas:[FieldSchema(name:tab_name, type:string, comment:from deserializer)], properties:null)
INFO  : Completed compiling command(queryId=hive_20230106161313_d1307ebc-ef99-4561-a3b7-423da24c1fb9); Time taken: 0.002 seconds
INFO  : Concurrency mode is disabled, not creating a lock manager
INFO  : Executing command(queryId=hive_20230106161313_d1307ebc-ef99-4561-a3b7-423da24c1fb9): show tables
INFO  : Starting task [Stage-0:DDL] in serial mode
INFO  : Completed executing command(queryId=hive_20230106161313_d1307ebc-ef99-4561-a3b7-423da24c1fb9); Time taken: 0.01 seconds
INFO  : OK
+-------------+--+
|  tab_name   |
+-------------+--+
| expectancy  |
| inversion   |
+-------------+--+
2 rows selected (0.057 seconds)
Beeline version 1.1.0-cdh5.12.0 by Apache Hive
Closing: 0: jdbc:hive2://localhost:10000/default

In [146]:
#se espera las inversiones y esperanzas de vida de los 20 primeros paises
#en el año 2000
! beeline -u "jdbc:hive2://localhost:10000/paisesdb" -e "select year2000 from inversion limit 20;"
! beeline -u "jdbc:hive2://localhost:10000/paisesdb" -e "select year2000 from expectancy limit 20;"

scan complete in 1ms
Connecting to jdbc:hive2://localhost:10000/paisesdb
Connected to: Apache Hive (version 1.1.0-cdh5.12.0)
Driver: Hive JDBC (version 1.1.0-cdh5.12.0)
Transaction isolation: TRANSACTION_REPEATABLE_READ
INFO  : Compiling command(queryId=hive_20230106161414_9a255554-b0de-47ba-a12b-813ae51227fd): select year2000 from inversion limit 20
INFO  : Semantic Analysis Completed
INFO  : Returning Hive schema: Schema(fieldSchemas:[FieldSchema(name:year2000, type:double, comment:null)], properties:null)
INFO  : Completed compiling command(queryId=hive_20230106161414_9a255554-b0de-47ba-a12b-813ae51227fd); Time taken: 0.087 seconds
INFO  : Concurrency mode is disabled, not creating a lock manager
INFO  : Executing command(queryId=hive_20230106161414_9a255554-b0de-47ba-a12b-813ae51227fd): select year2000 from inversion limit 20
INFO  : Completed executing command(queryId=hive_20230106161414_9a255554-b0de-47ba-a12b-813ae51227fd); Time taken: 0.001 seconds
INFO  : OK
+--------------------+--+
|      year2000      |
+--------------------+--+
| NULL               |
| NULL               |
| NULL               |
| NULL               |
| NULL               |
| NULL               |
| NULL               |
| NULL               |
| NULL               |
| 0.438840001821518  |
| 0.1910600066185    |
| NULL               |
| NULL               |
| 1.57423996925354   |
| 1.88601994514465   |
| 0.335999995470047  |
| NULL               |
| 1.93619000911713   |
| NULL               |
| NULL               |
+--------------------+--+
20 rows selected (0.174 seconds)
Beeline version 1.1.0-cdh5.12.0 by Apache Hive
Closing: 0: jdbc:hive2://localhost:10000/paisesdb
scan complete in 2ms
Connecting to jdbc:hive2://localhost:10000/paisesdb
Connected to: Apache Hive (version 1.1.0-cdh5.12.0)
Driver: Hive JDBC (version 1.1.0-cdh5.12.0)
Transaction isolation: TRANSACTION_REPEATABLE_READ
INFO  : Compiling command(queryId=hive_20230106161414_a965b491-8627-4c86-84be-a2c6de30ace2): select year2000 from expectancy limit 20
INFO  : Semantic Analysis Completed
INFO  : Returning Hive schema: Schema(fieldSchemas:[FieldSchema(name:year2000, type:double, comment:null)], properties:null)
INFO  : Completed compiling command(queryId=hive_20230106161414_a965b491-8627-4c86-84be-a2c6de30ace2); Time taken: 0.087 seconds
INFO  : Concurrency mode is disabled, not creating a lock manager
INFO  : Executing command(queryId=hive_20230106161414_a965b491-8627-4c86-84be-a2c6de30ace2): select year2000 from expectancy limit 20
INFO  : Completed executing command(queryId=hive_20230106161414_a965b491-8627-4c86-84be-a2c6de30ace2); Time taken: 0.001 seconds
INFO  : OK
+-------------------+--+
|     year2000      |
+-------------------+--+
| 73.787            |
| 51.2761288844047  |
| 55.841            |
| 49.2197138106225  |
| 46.522            |
| 73.955            |
| NULL              |
| 67.8005914484374  |
| 74.327            |
| 73.576            |
| 71.409            |
| NULL              |
| 73.94             |
| 79.2341463414634  |
| 78.1268292682927  |
| 66.763            |
| 49.091            |
| 77.7219512195122  |
| 55.391            |
| 50.489            |
+-------------------+--+
20 rows selected (0.175 seconds)
Beeline version 1.1.0-cdh5.12.0 by Apache Hive
Closing: 0: jdbc:hive2://localhost:10000/paisesdb

3 - Crear vista para cada país nombre, código, esperanza de vida en 2018 y inversión en 2018

In [149]:
%%writefile createcreateviewscript.hql
use paisesdb;

CREATE VIEW vistaapartado3 AS
SELECT a.Country_Name AS Pais, a.Country_Code AS Codigo,
a.year2018 AS esperanza_en_2018, b.year2018 AS inversion_en_2018
FROM expectancy a, inversion b
WHERE a.Country_Code = b. Country_Code;

Overwriting createcreateviewscript.hql

In [150]:
#ejecutar script.
! beeline -u "jdbc:hive2://localhost:10000/default" -f createcreateviewscript.hql

scan complete in 2ms
Connecting to jdbc:hive2://localhost:10000/default
Connected to: Apache Hive (version 1.1.0-cdh5.12.0)
Driver: Hive JDBC (version 1.1.0-cdh5.12.0)
Transaction isolation: TRANSACTION_REPEATABLE_READ
0: jdbc:hive2://localhost:10000/default> use paisesdb;
INFO  : Compiling command(queryId=hive_20230106161515_19326dd3-94e6-434e-badf-560c7676e9b1): use paisesdb
INFO  : Semantic Analysis Completed
INFO  : Returning Hive schema: Schema(fieldSchemas:null, properties:null)
INFO  : Completed compiling command(queryId=hive_20230106161515_19326dd3-94e6-434e-badf-560c7676e9b1); Time taken: 0.043 seconds
INFO  : Concurrency mode is disabled, not creating a lock manager
INFO  : Executing command(queryId=hive_20230106161515_19326dd3-94e6-434e-badf-560c7676e9b1): use paisesdb
INFO  : Starting task [Stage-0:DDL] in serial mode
INFO  : Completed executing command(queryId=hive_20230106161515_19326dd3-94e6-434e-badf-560c7676e9b1); Time taken: 0.008 seconds
INFO  : OK
No rows affected (0.095 seconds)
0: jdbc:hive2://localhost:10000/default>
0: jdbc:hive2://localhost:10000/default> CREATE VIEW vistaapartado3 AS
y_Code AS Codigo, . . . . . . . . . . .> SELECT a.Country_Name AS Pais, a.Countr
2018 AS inversion_en_2018 . . . . . . .> a.year2018 AS esperanza_en_2018, b.year
. . . . . . . . . . . . . . . . . . . .> FROM expectancy a, inversion b
. . . . . . . . . . . . . . . . . . . .> WHERE a.Country_Code = b. Country_Code;
INFO  : Compiling command(queryId=hive_20230106161515_90213a6f-3f08-4e8d-8155-b45d4688431f): CREATE VIEW vistaapartado3 AS
SELECT a.Country_Name AS Pais, a.Country_Code AS Codigo,
a.year2018 AS esperanza_en_2018, b.year2018 AS inversion_en_2018
FROM expectancy a, inversion b
WHERE a.Country_Code = b. Country_Code
INFO  : Semantic Analysis Completed
INFO  : Returning Hive schema: Schema(fieldSchemas:[FieldSchema(name:pais, type:string, comment:null), FieldSchema(name:codigo, type:string, comment:null), FieldSchema(name:esperanza_en_2018, type:double, comment:null), FieldSchema(name:inversion_en_2018, type:double, comment:null)], properties:null)
INFO  : Completed compiling command(queryId=hive_20230106161515_90213a6f-3f08-4e8d-8155-b45d4688431f); Time taken: 0.07 seconds
INFO  : Concurrency mode is disabled, not creating a lock manager
INFO  : Executing command(queryId=hive_20230106161515_90213a6f-3f08-4e8d-8155-b45d4688431f): CREATE VIEW vistaapartado3 AS
SELECT a.Country_Name AS Pais, a.Country_Code AS Codigo,
a.year2018 AS esperanza_en_2018, b.year2018 AS inversion_en_2018
FROM expectancy a, inversion b
WHERE a.Country_Code = b. Country_Code
INFO  : Starting task [Stage-0:DDL] in serial mode
INFO  : Completed executing command(queryId=hive_20230106161515_90213a6f-3f08-4e8d-8155-b45d4688431f); Time taken: 0.015 seconds
INFO  : OK
No rows affected (0.101 seconds)
0: jdbc:hive2://localhost:10000/default>
Closing: 0: jdbc:hive2://localhost:10000/default

In [153]:
#invocar la función (limit 20)
! beeline -u "jdbc:hive2://localhost:10000/paisesdb" -e "select * FROM vistaapartado3 limit 20;"

scan complete in 3ms
Connecting to jdbc:hive2://localhost:10000/paisesdb
Connected to: Apache Hive (version 1.1.0-cdh5.12.0)
Driver: Hive JDBC (version 1.1.0-cdh5.12.0)
Transaction isolation: TRANSACTION_REPEATABLE_READ
INFO  : Compiling command(queryId=hive_20230106161717_95206b13-6e6f-4937-b6ec-4f33a98ab082): select * FROM vistaapartado3 limit 20
INFO  : Semantic Analysis Completed
INFO  : Returning Hive schema: Schema(fieldSchemas:[FieldSchema(name:vistaapartado3.pais, type:string, comment:null), FieldSchema(name:vistaapartado3.codigo, type:string, comment:null), FieldSchema(name:vistaapartado3.esperanza_en_2018, type:double, comment:null), FieldSchema(name:vistaapartado3.inversion_en_2018, type:double, comment:null)], properties:null)
INFO  : Completed compiling command(queryId=hive_20230106161717_95206b13-6e6f-4937-b6ec-4f33a98ab082); Time taken: 0.142 seconds
INFO  : Concurrency mode is disabled, not creating a lock manager
INFO  : Executing command(queryId=hive_20230106161717_95206b13-6e6f-4937-b6ec-4f33a98ab082): select * FROM vistaapartado3 limit 20
INFO  : Query ID = hive_20230106161717_95206b13-6e6f-4937-b6ec-4f33a98ab082
INFO  : Total jobs = 1
INFO  : Starting task [Stage-4:MAPREDLOCAL] in serial mode
Execution log at: /var/log/hive/hive-server2.log
2023-01-06 04:17:56	Starting to launch local task to process map join;	maximum memory = 932184064
2023-01-06 04:17:57	Dump the side-table for tag: 1 with group count: 266 into file: file:/tmp/hive/5bfc4795-e25f-4e2d-8dec-fbcab2b9ee54/hive_2023-01-06_16-17-54_125_115002725254743709-1/-local-10003/HashTable-Stage-3/MapJoin-mapfile51--.hashtable
2023-01-06 04:17:57	Uploaded 1 File to: file:/tmp/hive/5bfc4795-e25f-4e2d-8dec-fbcab2b9ee54/hive_2023-01-06_16-17-54_125_115002725254743709-1/-local-10003/HashTable-Stage-3/MapJoin-mapfile51--.hashtable (7081 bytes)
2023-01-06 04:17:57	End of local task; Time Taken: 1.183 sec.
INFO  : Execution completed successfully
INFO  : MapredLocal task succeeded
INFO  : Launching Job 1 out of 1
INFO  : Starting task [Stage-3:MAPRED] in serial mode
INFO  : Number of reduce tasks is set to 0 since there's no reduce operator
INFO  : Starting Job = job_1673041515438_0005, Tracking URL = http://quickstart.cloudera:8088/proxy/application_1673041515438_0005/
INFO  : Kill Command = /usr/lib/hadoop/bin/hadoop job  -kill job_1673041515438_0005
INFO  : Hadoop job information for Stage-3: number of mappers: 1; number of reducers: 0
INFO  : 2023-01-06 16:18:04,425 Stage-3 map = 0%,  reduce = 0%
INFO  : 2023-01-06 16:18:09,643 Stage-3 map = 100%,  reduce = 0%, Cumulative CPU 1.49 sec
INFO  : MapReduce Total cumulative CPU time: 1 seconds 490 msec
INFO  : Ended Job = job_1673041515438_0005
INFO  : MapReduce Jobs Launched:
INFO  : Stage-Stage-3: Map: 1   Cumulative CPU: 1.49 sec   HDFS Read: 32070 HDFS Write: 696 SUCCESS
INFO  : Total MapReduce CPU Time Spent: 1 seconds 490 msec
INFO  : Completed executing command(queryId=hive_20230106161717_95206b13-6e6f-4937-b6ec-4f33a98ab082); Time taken: 17.494 seconds
INFO  : OK
+-------------------------------+------------------------+-----------------------------------+-----------------------------------+--+
|      vistaapartado3.pais      | vistaapartado3.codigo  | vistaapartado3.esperanza_en_2018  | vistaapartado3.inversion_en_2018  |
+-------------------------------+------------------------+-----------------------------------+-----------------------------------+--+
| "Aruba                        | ABW                    | 76.152                            | NULL                              |
| "Africa Eastern and Southern  | AFE                    | 63.648988039777                   | NULL                              |
| "Afghanistan                  | AFG                    | 64.486                            | NULL                              |
| "Africa Western and Central   | AFW                    | 57.7623467867763                  | NULL                              |
| "Angola                       | AGO                    | 60.782                            | NULL                              |
| "Albania                      | ALB                    | 78.458                            | NULL                              |
| "Andorra                      | AND                    | NULL                              | NULL                              |
| "Arab World                   | ARB                    | 71.8070751075422                  | NULL                              |
| "United Arab Emirates         | ARE                    | 77.814                            | 1.27836000919342                  |
| "Argentina                    | ARG                    | 76.52                             | 0.494349986314774                 |
| "Armenia                      | ARM                    | 74.945                            | 0.188759997487068                 |
| "American Samoa               | ASM                    | NULL                              | NULL                              |
| "Antigua and Barbuda          | ATG                    | 76.885                            | NULL                              |
| "Australia                    | AUS                    | 82.7487804878049                  | NULL                              |
| "Austria                      | AUT                    | 81.6926829268293                  | 3.09057998657227                  |
| "Azerbaijan                   | AZE                    | 72.864                            | 0.184159994125366                 |
| "Burundi                      | BDI                    | 61.247                            | 0.213119998574257                 |
| "Belgium                      | BEL                    | 81.5951219512195                  | 2.86031007766724                  |
| "Benin                        | BEN                    | 61.47                             | NULL                              |
| "Burkina Faso                 | BFA                    | 61.174                            | NULL                              |
+-------------------------------+------------------------+-----------------------------------+-----------------------------------+--+
20 rows selected (17.718 seconds)
Beeline version 1.1.0-cdh5.12.0 by Apache Hive
Closing: 0: jdbc:hive2://localhost:10000/paisesdb

4 - a esperanza de vida en España en 1960

In [154]:
%%writefile createqueryejercicio4ascript.hql
use paisesdb;

SELECT a.year1961 AS Esperanza_de_vida_en_Espana_en_1960
FROM expectancy a
WHERE a.Country_Code = 'ESP';

Overwriting createqueryejercicio4ascript.hql

In [155]:
#invocar la función
! beeline -u "jdbc:hive2://localhost:10000/paisesdb" -f createqueryejercicio4ascript.hql

scan complete in 3ms
Connecting to jdbc:hive2://localhost:10000/paisesdb
Connected to: Apache Hive (version 1.1.0-cdh5.12.0)
Driver: Hive JDBC (version 1.1.0-cdh5.12.0)
Transaction isolation: TRANSACTION_REPEATABLE_READ
0: jdbc:hive2://localhost:10000/paisesdb> use paisesdb;
INFO  : Compiling command(queryId=hive_20230106161919_765faccd-e97f-4641-b9e1-6be663812a0b): use paisesdb
INFO  : Semantic Analysis Completed
INFO  : Returning Hive schema: Schema(fieldSchemas:null, properties:null)
INFO  : Completed compiling command(queryId=hive_20230106161919_765faccd-e97f-4641-b9e1-6be663812a0b); Time taken: 0.048 seconds
INFO  : Concurrency mode is disabled, not creating a lock manager
INFO  : Executing command(queryId=hive_20230106161919_765faccd-e97f-4641-b9e1-6be663812a0b): use paisesdb
INFO  : Starting task [Stage-0:DDL] in serial mode
INFO  : Completed executing command(queryId=hive_20230106161919_765faccd-e97f-4641-b9e1-6be663812a0b); Time taken: 0.017 seconds
INFO  : OK
No rows affected (0.111 seconds)
0: jdbc:hive2://localhost:10000/paisesdb>
_en_Espana_en_1960calhost:10000/paisesdb> SELECT a.year1961 AS Esperanza_de_vida
. . . . . . . . . . . . . . . . . . . . > FROM expectancy a
. . . . . . . . . . . . . . . . . . . . > WHERE a.Country_Code = 'ESP';
INFO  : Compiling command(queryId=hive_20230106161919_ace1933d-3548-442d-ad78-415e8eecde52): SELECT a.year1961 AS Esperanza_de_vida_en_Espana_en_1960
FROM expectancy a
WHERE a.Country_Code = 'ESP'
INFO  : Semantic Analysis Completed
INFO  : Returning Hive schema: Schema(fieldSchemas:[FieldSchema(name:esperanza_de_vida_en_espana_en_1960, type:double, comment:null)], properties:null)
INFO  : Completed compiling command(queryId=hive_20230106161919_ace1933d-3548-442d-ad78-415e8eecde52); Time taken: 0.06 seconds
INFO  : Concurrency mode is disabled, not creating a lock manager
INFO  : Executing command(queryId=hive_20230106161919_ace1933d-3548-442d-ad78-415e8eecde52): SELECT a.year1961 AS Esperanza_de_vida_en_Espana_en_1960
FROM expectancy a
WHERE a.Country_Code = 'ESP'
INFO  : Completed executing command(queryId=hive_20230106161919_ace1933d-3548-442d-ad78-415e8eecde52); Time taken: 0.001 seconds
INFO  : OK
+--------------------------------------+--+
| esperanza_de_vida_en_espana_en_1960  |
+--------------------------------------+--+
| 69.4804878048781                     |
+--------------------------------------+--+
1 row selected (0.119 seconds)
0: jdbc:hive2://localhost:10000/paisesdb>
Closing: 0: jdbc:hive2://localhost:10000/paisesdb

4 - b esperanza de vida del país con menor inversión en 2010.  
    hql no es capaz de gestionar funciones anidadas, así que haré las consultas una a una según las necesite. Primero la mínima inversión

In [261]:
! beeline -u "jdbc:hive2://localhost:10000/paisesdb" -e "SELECT  MIN(a.year2010) FROM inversion a WHERE a.year2010 IS NOT NULL"

scan complete in 2ms
Connecting to jdbc:hive2://localhost:10000/paisesdb
Connected to: Apache Hive (version 1.1.0-cdh5.12.0)
Driver: Hive JDBC (version 1.1.0-cdh5.12.0)
Transaction isolation: TRANSACTION_REPEATABLE_READ
INFO  : Compiling command(queryId=hive_20230106180303_88af0300-a9fa-436e-9c60-88c72ce5673d): SELECT  MIN(a.year2010) FROM inversion a WHERE a.year2010 IS NOT NULL
INFO  : Semantic Analysis Completed
INFO  : Returning Hive schema: Schema(fieldSchemas:[FieldSchema(name:_c0, type:double, comment:null)], properties:null)
INFO  : Completed compiling command(queryId=hive_20230106180303_88af0300-a9fa-436e-9c60-88c72ce5673d); Time taken: 0.086 seconds
INFO  : Concurrency mode is disabled, not creating a lock manager
INFO  : Executing command(queryId=hive_20230106180303_88af0300-a9fa-436e-9c60-88c72ce5673d): SELECT  MIN(a.year2010) FROM inversion a WHERE a.year2010 IS NOT NULL
INFO  : Query ID = hive_20230106180303_88af0300-a9fa-436e-9c60-88c72ce5673d
INFO  : Total jobs = 1
INFO  : Launching Job 1 out of 1
INFO  : Starting task [Stage-1:MAPRED] in serial mode
INFO  : Number of reduce tasks determined at compile time: 1
INFO  : In order to change the average load for a reducer (in bytes):
INFO  :   set hive.exec.reducers.bytes.per.reducer=<number>
INFO  : In order to limit the maximum number of reducers:
INFO  :   set hive.exec.reducers.max=<number>
INFO  : In order to set a constant number of reducers:
INFO  :   set mapreduce.job.reduces=<number>
INFO  : Starting Job = job_1673041515438_0018, Tracking URL = http://quickstart.cloudera:8088/proxy/application_1673041515438_0018/
INFO  : Kill Command = /usr/lib/hadoop/bin/hadoop job  -kill job_1673041515438_0018
INFO  : Hadoop job information for Stage-1: number of mappers: 1; number of reducers: 1
INFO  : 2023-01-06 18:03:57,839 Stage-1 map = 0%,  reduce = 0%
INFO  : 2023-01-06 18:04:03,081 Stage-1 map = 100%,  reduce = 0%, Cumulative CPU 1.27 sec
INFO  : 2023-01-06 18:04:09,309 Stage-1 map = 100%,  reduce = 100%, Cumulative CPU 2.54 sec
INFO  : MapReduce Total cumulative CPU time: 2 seconds 540 msec
INFO  : Ended Job = job_1673041515438_0018
INFO  : MapReduce Jobs Launched:
INFO  : Stage-Stage-1: Map: 1  Reduce: 1   Cumulative CPU: 2.54 sec   HDFS Read: 96420 HDFS Write: 18 SUCCESS
INFO  : Total MapReduce CPU Time Spent: 2 seconds 540 msec
INFO  : Completed executing command(queryId=hive_20230106180303_88af0300-a9fa-436e-9c60-88c72ce5673d); Time taken: 17.573 seconds
INFO  : OK
+--------------------+--+
|        _c0         |
+--------------------+--+
| 0.036839999258518  |
+--------------------+--+
1 row selected (17.723 seconds)
Beeline version 1.1.0-cdh5.12.0 by Apache Hive
Closing: 0: jdbc:hive2://localhost:10000/paisesdb

In [217]:
! beeline -u "jdbc:hive2://localhost:10000/paisesdb" -e "SELECT Country_code FROM inversion a WHERE a.year2010 = 0.036839999258518"

scan complete in 1ms
Connecting to jdbc:hive2://localhost:10000/paisesdb
Connected to: Apache Hive (version 1.1.0-cdh5.12.0)
Driver: Hive JDBC (version 1.1.0-cdh5.12.0)
Transaction isolation: TRANSACTION_REPEATABLE_READ
INFO  : Compiling command(queryId=hive_20230106173232_38bc7f24-8861-45da-81ba-c09b9ee86533): SELECT Country_code FROM inversion a WHERE a.year2010 = 0.036839999258518
INFO  : Semantic Analysis Completed
INFO  : Returning Hive schema: Schema(fieldSchemas:[FieldSchema(name:country_code, type:string, comment:null)], properties:null)
INFO  : Completed compiling command(queryId=hive_20230106173232_38bc7f24-8861-45da-81ba-c09b9ee86533); Time taken: 0.103 seconds
INFO  : Concurrency mode is disabled, not creating a lock manager
INFO  : Executing command(queryId=hive_20230106173232_38bc7f24-8861-45da-81ba-c09b9ee86533): SELECT Country_code FROM inversion a WHERE a.year2010 = 0.036839999258518
INFO  : Completed executing command(queryId=hive_20230106173232_38bc7f24-8861-45da-81ba-c09b9ee86533); Time taken: 0.001 seconds
INFO  : OK
+---------------+--+
| country_code  |
+---------------+--+
| IRQ           |
+---------------+--+
1 row selected (0.184 seconds)
Beeline version 1.1.0-cdh5.12.0 by Apache Hive
Closing: 0: jdbc:hive2://localhost:10000/paisesdb

In [220]:
#y por último
! beeline -u "jdbc:hive2://localhost:10000/paisesdb" -e "SELECT a.year2010 FROM expectancy a WHERE a.Country_Code = 'IRQ'"

scan complete in 2ms
Connecting to jdbc:hive2://localhost:10000/paisesdb
Connected to: Apache Hive (version 1.1.0-cdh5.12.0)
Driver: Hive JDBC (version 1.1.0-cdh5.12.0)
Transaction isolation: TRANSACTION_REPEATABLE_READ
INFO  : Compiling command(queryId=hive_20230106173434_926bc057-bbdd-48a2-8a4f-605d9b03e649): SELECT a.year2010 FROM expectancy a WHERE a.Country_Code = 'IRQ'
INFO  : Semantic Analysis Completed
INFO  : Returning Hive schema: Schema(fieldSchemas:[FieldSchema(name:a.year2010, type:double, comment:null)], properties:null)
INFO  : Completed compiling command(queryId=hive_20230106173434_926bc057-bbdd-48a2-8a4f-605d9b03e649); Time taken: 0.101 seconds
INFO  : Concurrency mode is disabled, not creating a lock manager
INFO  : Executing command(queryId=hive_20230106173434_926bc057-bbdd-48a2-8a4f-605d9b03e649): SELECT a.year2010 FROM expectancy a WHERE a.Country_Code = 'IRQ'
INFO  : Completed executing command(queryId=hive_20230106173434_926bc057-bbdd-48a2-8a4f-605d9b03e649); Time taken: 0.0 seconds
INFO  : OK
+-------------+--+
| a.year2010  |
+-------------+--+
| 68.567      |
+-------------+--+
1 row selected (0.194 seconds)
Beeline version 1.1.0-cdh5.12.0 by Apache Hive
Closing: 0: jdbc:hive2://localhost:10000/paisesdb

4 - c los cinco paises con mayor inversión en investigación en 2010, usando limit 5 y order by

In [258]:
%%writefile createqueryejercicio4cscript.hql
use paisesdb;

SELECT a.Country_Name as Pais, a.year2010 as Inversion_2010
FROM inversion a
WHERE a.year2010 IS NOT NULL
ORDER BY Inversion_2010 DESC
LIMIT 5

Overwriting createqueryejercicio4cscript.hql

In [259]:
#invocar la función
! beeline -u "jdbc:hive2://localhost:10000/paisesdb" -f createqueryejercicio4cscript.hql

scan complete in 2ms
Connecting to jdbc:hive2://localhost:10000/paisesdb
Connected to: Apache Hive (version 1.1.0-cdh5.12.0)
Driver: Hive JDBC (version 1.1.0-cdh5.12.0)
Transaction isolation: TRANSACTION_REPEATABLE_READ
0: jdbc:hive2://localhost:10000/paisesdb> use paisesdb;
INFO  : Compiling command(queryId=hive_20230106180000_eb1b7fcc-4501-4d94-9798-02e2d1315e98): use paisesdb
INFO  : Semantic Analysis Completed
INFO  : Returning Hive schema: Schema(fieldSchemas:null, properties:null)
INFO  : Completed compiling command(queryId=hive_20230106180000_eb1b7fcc-4501-4d94-9798-02e2d1315e98); Time taken: 0.038 seconds
INFO  : Concurrency mode is disabled, not creating a lock manager
INFO  : Executing command(queryId=hive_20230106180000_eb1b7fcc-4501-4d94-9798-02e2d1315e98): use paisesdb
INFO  : Starting task [Stage-0:DDL] in serial mode
INFO  : Completed executing command(queryId=hive_20230106180000_eb1b7fcc-4501-4d94-9798-02e2d1315e98); Time taken: 0.012 seconds
INFO  : OK
No rows affected (0.091 seconds)
0: jdbc:hive2://localhost:10000/paisesdb>
010 as Inversion_2010host:10000/paisesdb> SELECT a.Country_Name as Pais, a.year2
. . . . . . . . . . . . . . . . . . . . > FROM inversion a
. . . . . . . . . . . . . . . . . . . . > WHERE a.year2010 IS NOT NULL
. . . . . . . . . . . . . . . . . . . . > ORDER BY Inversion_2010 DESC
. . . . . . . . . . . . . . . . . . . . > LIMIT 5
. . . . . . . . . . . . . . . . . . . . > INFO  : Compiling command(queryId=hive_20230106180000_86f4ae3f-5743-4c56-ac5e-63492bf7bc89): SELECT a.Country_Name as Pais, a.year2010 as Inversion_2010
FROM inversion a
WHERE a.year2010 IS NOT NULL
ORDER BY Inversion_2010 DESC
LIMIT 5
INFO  : Semantic Analysis Completed
INFO  : Returning Hive schema: Schema(fieldSchemas:[FieldSchema(name:pais, type:string, comment:null), FieldSchema(name:inversion_2010, type:double, comment:null)], properties:null)
INFO  : Completed compiling command(queryId=hive_20230106180000_86f4ae3f-5743-4c56-ac5e-63492bf7bc89); Time taken: 0.059 seconds
INFO  : Concurrency mode is disabled, not creating a lock manager
INFO  : Executing command(queryId=hive_20230106180000_86f4ae3f-5743-4c56-ac5e-63492bf7bc89): SELECT a.Country_Name as Pais, a.year2010 as Inversion_2010
FROM inversion a
WHERE a.year2010 IS NOT NULL
ORDER BY Inversion_2010 DESC
LIMIT 5
INFO  : Query ID = hive_20230106180000_86f4ae3f-5743-4c56-ac5e-63492bf7bc89
INFO  : Total jobs = 1
INFO  : Launching Job 1 out of 1
INFO  : Starting task [Stage-1:MAPRED] in serial mode
INFO  : Number of reduce tasks determined at compile time: 1
INFO  : In order to change the average load for a reducer (in bytes):
INFO  :   set hive.exec.reducers.bytes.per.reducer=<number>
INFO  : In order to limit the maximum number of reducers:
INFO  :   set hive.exec.reducers.max=<number>
INFO  : In order to set a constant number of reducers:
INFO  :   set mapreduce.job.reduces=<number>
INFO  : Starting Job = job_1673041515438_0017, Tracking URL = http://quickstart.cloudera:8088/proxy/application_1673041515438_0017/
INFO  : Kill Command = /usr/lib/hadoop/bin/hadoop job  -kill job_1673041515438_0017
INFO  : Hadoop job information for Stage-1: number of mappers: 1; number of reducers: 1
INFO  : 2023-01-06 18:00:39,707 Stage-1 map = 0%,  reduce = 0%
INFO  : 2023-01-06 18:00:45,964 Stage-1 map = 100%,  reduce = 0%, Cumulative CPU 1.21 sec
INFO  : 2023-01-06 18:00:51,152 Stage-1 map = 100%,  reduce = 100%, Cumulative CPU 2.4 sec
INFO  : MapReduce Total cumulative CPU time: 2 seconds 400 msec
INFO  : Ended Job = job_1673041515438_0017
INFO  : MapReduce Jobs Launched:
INFO  : Stage-Stage-1: Map: 1  Reduce: 1   Cumulative CPU: 2.4 sec   HDFS Read: 96395 HDFS Write: 122 SUCCESS
INFO  : Total MapReduce CPU Time Spent: 2 seconds 400 msec
INFO  : Completed executing command(queryId=hive_20230106180000_86f4ae3f-5743-4c56-ac5e-63492bf7bc89); Time taken: 19.472 seconds
INFO  : OK
+-------------+-------------------+--+
|    pais     |  inversion_2010   |
+-------------+-------------------+--+
| Israel      | 3.92436003684998  |
| Finland     | 3.70531988143921  |
| Korea Rep.  | 3.3157799243927   |
| Sweden      | 3.1678900718689   |
| Japan       | 3.10494995117188  |
+-------------+-------------------+--+
5 rows selected (19.587 seconds)
0: jdbc:hive2://localhost:10000/paisesdb>
Closing: 0: jdbc:hive2://localhost:10000/paisesdb